$rice: #f4f4e5;
$greish: #c6c9cc;
$lightGold: #ffff66;
$paleGold: #ffffc9;
$paleOlive: #c1c18b;
$lightOlive: #919100;
$mainOlive: #7f7f00;
$darkOlive: #515100;
$headRed: #DE250E;
$inkRed: #fb1618;
$inkSkin: #D4A87C;

$mainBlue: blue;
$mainOrange: pink;