.primary-nav {
	position: relative;
	
	li {
		list-style: none;
	}

	&__flat {
		@mixin clearfix;		
		
		@mixin atLarge {
			display: none;
		}

		ul {	
			@mixin atSmall {
				position: relative;
				display: block;
				float: right;	
				margin-left: -2rem;
				line-height: .3;
				padding-top: .12rem;   
			}
			
			@mixin atMedium {
				padding-top: .36rem;
				margin-right: 1rem;
			}
			
			@mixin atLarge {
				line-height: .5;	
			}
		}
		
		li {	
			padding-top: .8rem;
				
			@mixin atSmall {
				display: inline-block;
				padding-top: 0;
				margin: 0;
				padding-right: 1rem;
				text-transform: capitalize;
			}
			
			@mixin atMedium {
				padding-right: 1.8rem;
				text-transform: uppercase;
			}
		}
		
		li:last-child {
			padding-right: 0;
			padding-bottom: 0;
			
			@mixin atSmall {
				padding-right: .8rem
			}
		}
		
		a {
			font-size: 1.35rem;
			font-weight: 100;
			color: $lightOlive;
						
			@mixin atMedium {
				font-size: 1.38rem;
			}
			
			@mixin atLarge {
				font-size: 1.475rem;
			}
								
			&.is-current-link {
				color: $inkRed;
				padding: .4rem .4rem .3rem;
				border-radius: 3px;
				box-shadow: 0 0 6px #aaa;
				
				@mixin atMedium {
					padding: .55rem .4rem .28rem;
				} 
				
				@mixin atLarge {
					padding: .52rem .4rem .22rem;
				}
			}
		}
		
		&__logo {	
			float: left;
			padding: .55rem .9rem;
			letter-spacing: .08rem;
			transition: all .5s;
			color: $paleGold !important;
			background-color: rgba($headRed, .8);

			&--small {
				display: none;
			}
			
			@mixin atSmall {				
				&--small {
					display: block;
				}
				
				&--large {
					display: none;
				}
			}
			
			@mixin atMedium {
				padding: .62rem 1.1rem;
			}
			
			@mixin atLarge {
				padding: .68rem 1.1rem;
			}
			
		}
		
		&--is-fixed {	
			z-index: 1;
			position: fixed;
			width: 100%;
			top: 0;
			background-color: rgba(255, 255, 255, .98);
			box-shadow: 0 0 6px #aaa;
			
			@mixin atLarge {
				display: block;
				background-color: rgba(255, 255, 255, .96);
			}
		}
	}

	&__stack {
		display: none;
		text-align: center;

		@mixin atLarge {
			display: block;
			padding: 3rem 0;
		}

		ul {
			padding: 0;
		}
		
		li {
			font-size: 1.8rem;
			line-height: 1.65;
			letter-spacing: .175rem;			
		}	

		li a {
			color: $lightOlive;
		}

		li a:hover {
			color: $inkRed;
			height: 12px;
			padding: 0 .3em;
			font-weight: bolder;
			border-radius: 3px;
			box-shadow: 0 0 8px #aaa;
		}

		li a:focus, li a:active {
			color: #fff;
			font-weight: bold;
			background-color: $inkRed;
			box-shadow: 0 0 0 #fff;
		}

	/*
		&::after {
			content: " ";
			display: block; 
			height: 0;
			margin: 1.8rem auto 1.2rem;
			width: 12rem;
			border-top: 1px dotted $lightOlive;
		}
	*/
	}
}

